.root {
    -fx-background-color: #E5E5E5;
}

.prompt-label {
    -fx-text-fill: red;
}

.blue-button {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
}

.gray-button {
    -fx-background-color: #797979;
    -fx-text-fill: white;
}

.red-button {
    -fx-background-color: #C60108;
    -fx-text-fill: white;
}

.blue-button:hover, .gray-button:hover, .red-button:hover {
    -fx-opacity: 0.7;
}

.title-label {
    -fx-text-fill: #969696;
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-padding: 0 0 6 0;
}

.bottom-padding-6 {
    -fx-padding: 0 0 6 0;
}

.bottom-padding-16 {
    -fx-padding: 0 0 16 0;
}

.left-padding-6 {
    -fx-padding: 0 0 0 6;
}

.left-padding-16 {
    -fx-padding: 0 0 0 16;
}

.spacing-6 {
    -fx-spacing: 6;
}

.padding-16 {
    -fx-padding: 16;
}