@import url("main-view.css");

#titleLbl {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #767676;
}

#showingsMenu, #sellMenu {
    -fx-background-color: #5D5E5E;
}

#historyMenu, #historyMenu:disabled {
    -fx-background-color: #E5E5E5;
    -fx-opacity: 1;
}

#historyMenu .label, #historyMenu:disabled .label {
    -fx-text-fill: #5D5E5E;
    -fx-opacity: 1;
}

#showingsMenu:hover, #sellMenu:hover {
    -fx-opacity: 0.7;
}

#roomLbl {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}