@import url("base.css");

#root {
    -fx-pref-width: 775;
    -fx-pref-height: 550;
}

#selectedLabel {
    -fx-padding: 0 0 12 6;
}

#errorLabel {
    -fx-padding: 12 0 12 0;
}

#customerTextField {
    -fx-pref-width: 350;
    -fx-min-width: 350;
    -fx-max-width: 350;
}

#titleTextField {
    -fx-pref-width: 300;
    -fx-max-width: 300;
}

#selectedSeatsListView {
    -fx-border-color: #797979;
}

.header {
    -fx-background-color: #000000;
    -fx-alignment: bottom-left;
    -fx-padding: 12 12 0 12;
}

.app-name-label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-alignment: baseline-left;
    -fx-padding: 0 0 0 12;
}

.menu-button {
    -fx-background-radius: 0;
    -fx-focus-traversable: false;
    -fx-padding: 5 25 5 25;
    -fx-background-insets: 0;
}

.menu-button:active, .menu-button:disabled:active {
    -fx-background-color: #E5E5E5;
    -fx-text-fill: #5D5E5E;
    -fx-opacity: 1;
}

.menu-button:inactive {
    -fx-background-color: #5D5E5E;
    -fx-text-fill: white;
}

.menu-button:hover {
    -fx-opacity: 0.7;
}

.room-label {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-padding: 0 0 6 0;
}

.bold-label {
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

.row-name {
    -fx-padding: 0 16 0 0;
    -fx-pref-height: 40;
}

.seat-button {
    -fx-min-height: 40;
    -fx-pref-height: 40;
    -fx-max-height: 40;
    -fx-min-width: 40;
    -fx-pref-width: 40;
    -fx-max-width: 40;
    -fx-background-insets: 5;
    -fx-text-fill: white;
    -fx-focus-traversable: false;
}

.seat-taken, .seat-taken:disabled {
    -fx-background-color: #FF0000;
    -fx-opacity: 1;
}

.seat-free {
    -fx-background-color: #5D5E5E;
}

.seat-chosen {
    -fx-background-color: #00FF00;
}

.seat-button:hover {
    -fx-opacity: 0.7;
}

.pref-height-25 {
    -fx-pref-height: 25;
}

.time-spinner {
    -fx-pref-width: 60;
}

.text-field:error {
    -fx-text-box-border: red;
}

.date-picker:error, .spinner:error {
    -fx-border-color: red;
}