.root {
    -fx-background-color: #E5E5E5;
}

#header {
    -fx-background-color: #000000;
}

#appNameLbl {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: transparent;
}

.menu .label
{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.menu:hover {
    -fx-background-color: #808080;
}