@import url("base.css");

#titleLbl {
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-fill: #767676;
}

#showingsMenu, #historyMenu {
    -fx-background-color: #5D5E5E;
}

#sellMenu, #sellMenu:disabled {
    -fx-background-color: #E5E5E5;
    -fx-opacity: 1;
}

#sellMenu .label, #sellMenu:disabled .label {
    -fx-text-fill: #5D5E5E;
    -fx-opacity: 1;
}

#showingsMenu:hover, #historyMenu:hover {
    -fx-opacity: 0.7;
}

#roomLbl {
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

#selectSeatsButton {
    -fx-background-color: #0078D7;
    -fx-text-fill: white;
}

#selectSeatsButton:hover {
    -fx-opacity: 0.7;
}

#selectedVBox {
    -fx-background-color: #FFFFFF;
}